*{
    padding: 0;
    margin: 0;
}
body{   
    background-color:rgb(31, 137, 236);
    display: flex;
    flex-wrap: wrap;
}
h1{
    color: brown;
    main{
        display: flex;
        flex-wrap: wrap;
    }
}
.tarjeta{ 
    width:290px;
    height:470px;
    border-radius: 8%;
    background-color: rgb(123, 201, 68);
    text-align: center;
    margin: 25px;
    display:inline-table;
    transition: all 0.4s ease-in-out;
}

.tarjeta:hover{
    background-color: gold;
    transform: scale(1.05);
    transform: rotate(3deg);
    transform: matrix3d(1.05);
}

.tarjeta .imagen{
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.tarjeta img{
    width: 95%;
    object-fit: cover;
    border-radius: 4%;
}

.tarjeta p{
    font-size: 20px;
}

#gato{
    color: blueviolet;
}

#koala{
    color: rgb(213, 45, 137);
}

#delfin{
    color: moccasin;
}
#patito{
    color: lime;
}
#ballena{
    color: olivedrab;
}